.card {
  display:flex;
  align-items: center;
  height: auto;
}

.room-infos {
  width:600px;
  display:flex;
  justify-content: start;
  align-items: self-start;
  position: relative;
  min-height: 300px;
}

.booking-form {
  width:600px;
}

.room-infos img {
  width: 400px;
}

.infos{
  align-items: self-start;
}

.infos p{
margin: 0;
}
