<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1578681041175-9717c16b0d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);">
  <div class="container">
    <h1>Trouver des chambres d'hotel <strong>pas cher</strong> !</h1>
    <p>Il n'y a pas de petites économies!</p>
    <%= link_to "Les chambres", rooms_path, class:"btn btn-flat" %>
  </div>
</div>
